@require '../stylus/variables.styl';

body, html
  margin 0
  padding 0
  min-width 100%
  min-height 100%

  background $primary
  box-sizing border-box

  *
    font-family "Roboto"

body
  display flex

  #react-container
    width 100%
    display flex
    margin auto 0
